@model Role

<h4>Role</h4>
<hr />
<dl class="row">
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.Users)
    </dt>
    <dd class="col-10">
        @{
            string users = "";
            string seperator = "<br />";
            if (Model.Users is not null)
            {
                users = string.Join(seperator, Model.Users.OrderBy(u => u.UserName).Select(u => u.UserName));
            }
        }
        @Html.Raw(users)
    </dd>
</dl>