@model PublisherModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Publisher Details";
}

<div class="container">

    <h1>@ViewData["Title"]</h1>

    @if (TempData["Message"] is not null)
    {
        <p class="bg-warning text-black">@TempData["Message"]</p>
    }

    <partial name="_Details" model="Model" />
    
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>&nbsp;|&nbsp;
        <a asp-action="Index">Back to List</a>
    </div>

</div>

